body {
    background-image: url("../images/white-waves.png");
    }

.Header{
    width: 100%;
    height:100px;
    background: #cccccc;
    position: fixed;
    top: 0px;
    left:0px;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    background-color: #ffffff;
    /* overflow:hidden; */
    display:flex;
    justify-content: space-between;
    z-index: 2000;
}

.MyNameBackground {
    height: auto;
    /* float: left; */
    position: relative;
    left:10%;
    margin-right:50px;
    background: #010a0a;
    color: white;
    display: inline-block;
    min-width: 200px;
    padding:0;

  }

.MyName{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0px;
    font-size: 26px;
    /* font-weight: bold; */
    /* margin: 20px; */
    text-align: center;
    vertical-align: middle;

  }

.Nav{
    margin: 20px;
    position: relative;
    right: 10%;
    top: 20px;
    display: inline-block;
    min-width:266px;
    margin-left:50px;
}

body{
    color:  #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    min-width: 600px;
}

.MainContent{
    color: #777777;
    background:#ffffff;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin: 120px 10% 80px 10%;
    padding: 10pt;
    overflow: auto;
  }



.Divider{
    background: #4aaaa5;
    height: 10px;
    width: 100%;
    float:bottom;
    position: fixed;
}

.Divider2{
    background: #cccccc;
    height: 3px;
    width: 94%;
    float:left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 25px;
}

.Aside{
    background: #ebebeb;
}

.Footer{
    background: #666666;
    height: 80px;
    text-align: center;
    color:lightgray;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2000;
}

.Article{
    color: #ebebeb;
    background: #777;
}

.h1{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-left:3%;
}

p{
    /* float:left; */
    line-height: 24pt;
    margin:20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    position:relative;
}
li:not(:last-child) {
    border-right:1px solid #bb9797;
}


.divider {
    position: absolute;
    right:-1px;
    top:2px;
}


a:link, a:visited {
    display: block;
    width: 80px;
    color:  #777777;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.Selfie{
    float:left;
    margin:20px;
}

.PItem{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 150px;
    /* background-color: red; */
    opacity: 100%;
    z-index: 1500;
    margin: 20px;
}

.PLabel{
    position: absolute;
    margin: 0 auto;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
    z-index: 999;
    height: 40px;
    background: #4aaaa5;
    color: white;
}

.PText{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin:10px;
}

.FormLabel{
    font-size: 18pt;
    margin-left: 15px;
}

input[type=text], select {
    width: 95%;
    padding: 12px 20px;
    margin: 15px;
    display: inline-block;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 10%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #468a86;
  }

  .tallbox{
      height:300px;
  }

  .PItem:hover  {
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }